<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Ninja</title>
</head>
<body>
<h1>Editar Ninja</h1>
<form th:action="@{'/ui/ninjas/editar/' + ${ninja.id}}" th:object="${ninja}" method="post">
    <label>Nome: <input type="text" th:field="*{nome}" /></label><br/>
    <label>Email: <input type="email" th:field="*{email}" /></label><br/>
    <label>Idade: <input type="number" th:field="*{idade}" /></label><br/>
    <label>Rank: <input type="text" th:field="*{rank}" /></label><br/>
    <button type="submit">Salvar</button>
</form>
<a href="/ui/ninjas">Voltar</a>
</body>
</html>